.title-section_monitoreo{
    color: var(--main-color);
}

.controller_bar-container{
    display: flex;
    align-items: center;
    max-width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    background-color: #ffffff;
    padding: 15px 10px;  
}

.controller_bar-container>div{
    display: flex;
    justify-content: center;
}

.container_search{
    flex: 7;
}
.container_filter{
    flex: 3;
}
.container_button{
    flex: 2;
}
.container_text{
    flex: 1;
}
.container-input{
    display: flex;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 10px;
    height: 25px;
    width: 80%;
}

.container-input span{
    display: flex;
    align-items: center;
}

.iconSearch{
    height: 30px;
    width: 30px;
    color: var(--main-color);
}

.input-search{
    background-color:rgb(255, 255, 255);;
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

.button_search_controller_monitoreo{
    color: #fff;
    background-color: var(--main-color);
    border-radius: 30px;
}

.list-city_controller{
    width: 70%;
    font-size: 16px;
    padding: 13px 15px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.button-modal-container{
    display: flex;
    justify-content: space-between;
}

.ant-btn-primary{
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
}
