.contenedor-general{
    background-color: var(--GrisClaro);
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
    align-content: center;
}

.dashboard-cotenedor{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
}

.dashboard-cotenedor p{
    font-size: 17px;
}

.dashboard-detalles-count{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-left: 0px;
}

.detalles-alquiler{
    background-color: #fec107;
    width: 190px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    -ms-overflow-style: none;
    border-radius: 20px;
    color: white;
    margin: 15px;
}

.detalles-proyectos{
    background-color: #48ab74;
    width: 190px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    -ms-overflow-style: none;
    border-radius: 20px;
    color: white;
    margin: 15px;
}
.detalles-vehiculos{
    background-color: #78a0e5;
    width: 190px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    -ms-overflow-style: none;
    border-radius: 20px;
    color: white;
    margin: 15px;
}
.detalles-operadores{
    background-color: #dc3546;
    width: 190px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    -ms-overflow-style: none;
    border-radius: 20px;
    color: white;
    margin: 15px;
}
.detalles-proveedores{
    background-color: #ff8a00;
    width: 190px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    -ms-overflow-style: none;
    border-radius: 20px;
    color: white;
    margin: 15px;
}

.detalles-icono{
    margin-right: 10px;
}

.detalles-icono img{
    width: 30px;
    height: 30px;
}

.detalles-texto-column{
    text-align: center;
    color: white;
}
.detalles-texto-column p{
    color: white;
}
.detalles-texto-column h2{
    color: white;
}

.dashboard-detalles-graficos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

.dashboard-detalles-graficos1{
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 10px;
    height: 350px;
    width: 1070px;
    align-items: center;
    text-align: center;
}

.dashboard-detalles-graficos2{
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 10px;
    height: 300px;
    width: 525px;
    align-items: center;
    text-align: center;
}

.dashboard-detalles-graficos3{
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 10px;
    height: 300px;
    width: 525px;
    align-items: center;
    text-align: center;
}

.dashboard-detalles-graficos4{
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 10px;
    height: 700px;
    width: 1070px;
    align-items: center;
    text-align: center;
}

.graficos{
    padding: 1em;
}