.table-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #d1cccc;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.titleTable {
  color: var(--main-color);
}

table {
  padding-top: 1rem;
  border-spacing: 0;
  text-align: center;
  display: table;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.table-header {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
}

th,
td {
  margin: 0;
  padding: 1rem;
}

th.desc {
  border-bottom: 5px solid rgb(136, 136, 255);
}

th.asc {
  border-top: 5px solid orange;
}

.row-table-monitoreo:hover{
  background-color: #c8c8c8;
}

button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 25px;
  transition: opacity 0.2s;
}

button:active {
  opacity: 0.1;
}

.actions-container img:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 10px;
}

.pagination button,
strong {
  margin: 0 10px;
}

.page-controller {
  width: 20px;
  height: 17px;
  display: flex;
  color: #c8c8c8;
}

.paginationController-button {
  background-color: #000;
}

.paginationController-button:disabled {
  opacity: .7;
  cursor: default;
}

.cell-estado_vehiculo {
  display: flex;
  justify-content: center;
  align-items: center;
}