:root {
    --VerdePrimario: #009A43;
    --VerdeIntermedio:#3FAB6E;
    --VerdeClaro: #C8DED1;
    --Blanco: #FFFFFF;
    --GrisClaro: #EDEDED;
    --GrisIntermedio: #A2A2A2;
    --GrisOscuro: #555555;
    --Negro: #000000;
}

.container_text{
    margin-top: 10px;
    flex: 1;
}

.container_text p{
    font-size: 14px;
}

.agregar-row{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    --bs-gutter-x: 0rem;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.capsula-row{
    height: 30px;
}

.agregar-row-total{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    --bs-gutter-x: 0rem;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
}

.formulario-pago{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 40vh;
    height: 30px;
    padding-left: 10px;
}

.form-row1{
    margin-left: 10px;
    margin-right: 10px;
}

.formulario-pago2{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 30vh;
    height: 30px;
    padding-left: 10px;
}

.formulario-pago-detalle{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 97vh;
    height: 30px;
    padding-left: 10px;
}

.formulario-extra{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 26.5vh;
    height: 30px;
    padding-left: 10px;
}

.formulario-extra-numero{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 15vh;
    height: 30px;
    padding-left: 10px;
}

.formulario-extra-total{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 15vh;
    height: 30px;
    padding-left: 10px;
    margin-right: 10vh;
}

.boton-vemos{
    display: flex;
    justify-content: flex-end;
    width: 182vh;
}

.boton-agregar{
    width: 120px;
    height: 15px;
    font-size: 12px;
    margin-right: 50px;
    background-color: #C8DED1;
}

.boton-calcular{
    width: 5px;
    height: 15px;
    font-size: 12px;
    margin-right: 50px;
    background-color: #C8DED1;
}

.contenedor-formulario{
    min-width: 600px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background: var(--Blanco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.line{
    margin-top: 10px;
    width: 85%;
    border-bottom: 1px solid;
    align-self: center;
    color: #3FAB6E;
}

.line2{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    border-bottom: 1px solid;
    align-self: center;
    color: #3FAB6E;
}

.contenedor-botones{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 40px;
    width: 133vh;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: right;
    justify-content: flex-end;
}

.contenedor-modal-eliminar{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 520px;
}

.contenedor-btn-editar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    margin-bottom: 30px;
}

.contenedor-botones-modal{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 40px;
    width: 43vh;
    margin-bottom: 10px;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
.modal-formulario-label{
    margin-top: 10px;
}

.formulario-extra-eliminar{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 45vh;
    height: 30px;
    padding-left: 10px;
}

.contenedor-modal-formulario{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 300px;
}

.boton-cancelar{
    color: var(--Blanco);
    font-size: 12px;
    background-color: var(--GrisOscuro);
}

.boton-eliminar{
    color: var(--Blanco);
    font-size: 12px;
    background-color: var(--Rojo);
}

.detalle{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center; 
}

.contenedor-lista-detalle-pago{
    display: flex;
    padding: 25px;
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-self: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background: var(--Blanco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}
.icon-add-detalles{
    width: 20px;
    height: 20px;
}