:root {
    --VerdePrimario: #009A43;
    --VerdeIntermedio:#3FAB6E;
    --VerdeClaro: #C8DED1;
    --Blanco: #FFFFFF;
    --GrisClaro: #EDEDED;
    --GrisIntermedio: #A2A2A2;
    --GrisOscuro: #555555;
    --Negro: #000000;
}


/*Estilos para card empresa*/
.card-empresa {
    border-radius: 5px;
    border: 2px solid var(--VerdePrimario);
    background-color: var(--GrisClaro);
    padding: 7px;
}
.card-empresa-cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 10px 5px;
    align-items: center;
}
.card-empresa-expanded {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--Blanco);
    padding: 10px;
}
.dato {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}



/*Estilos para card area*/
.card-area {
    border: 2px solid var(--GrisIntermedio);
    background-color: var(--GrisClaro);
    border-radius: 5px;
    padding: 7px;
}
.card-area-cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.card-area-expanded {
    background-color: var(--Blanco);
    padding: 10px;
}

.card-area-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-radius: 5px;
}

/*Estilos para card rsponsable*/
.card-responsable, .card-operador, .card-vehiculo {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;    
    background-color: var(--GrisClaro);
}
.icon {
    
}
.datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}