:root {
    --VerdePrimario: #009A43;
    --VerdeIntermedio:#3FAB6E;
    --VerdeClaro: #C8DED1;
    --Blanco: #FFFFFF;
    --GrisClaro: #EDEDED;
    --GrisIntermedio: #A2A2A2;
    --GrisOscuro: #555555;
    --Negro: #000000;
    --Rojo: #DC3545;
    --Azul: #6B97E4;
}

.contenedor-tareos{
    height: 100%;
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

/* BARRA BUSQUEDA */
.contenedor-filtro-tareos{
    display: flex;
    padding: 15px;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.controller_bar-container{
    display: flex;
    align-items: center;
    max-width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    background-color: #ffffff;
    padding: 15px 10px;  
}

.controller_bar-container>div{
    display: flex;
    justify-content: center;
}

.container_text{
    margin-top: 10px;
    flex: 1;
}

.container_text p{
    font-size: 14px;
}

.container_filter{
    flex: 3;
}

.list-city_controller{
    color: var(--GrisOscuro);
    width: 70%;
    font-size: 13px;
    padding: 10px 13px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

/* VEHICULOS */
.table-container-tareos {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: auto;
    justify-content: center;  
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    background: var(--Blanco);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title-container{
    flex: 1;
    padding: 1em;
    background-color: #3FAB6E;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.all-vehiculos-container{
    flex: 1;
}

.titulo-table-conteiner{
    margin-top: 30px;
    margin-left: 30px;
}
.vehiculos-lista-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-table-conteiner h2{
    color: #3FAB6E;
}


.vehiculo-container{
    padding: 0.7em;
    background-color: #e7e7e7;
    align-items: center;
    border-radius: 5px;
}

.vehiculo-title-container{
    align-content: center;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}
.vehiculo-title-container img{
    align-content: center;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


.vehiculo-title-texto-container{
    flex: 2;
    display: flex;
    align-items: center;
}
.vehiculo-title-texto2-container{
    flex: 3;
    display: flex;
    align-items: center;
}
.vehiculo-title-dias-container{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.vehiculo-title-dias-container p{
    color: white;
}

.vehiculo-title-icon-container{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDT{
    background-color: #6B97E4E5;
    width: 80px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border-radius: 10px;
    margin-left: 10px;
}
.divDNT{
    background-color: #A2A2A2;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
}
.divMP{
    background-color: #FFC107;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
}
.divMC{
    background-color: #FF8A00;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
}
.divTSI{
    background-color: #DC3545;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
}

.vehiculo-detalles-container{
    background-color: white;
    margin-top: 10px;
    padding: 0.5em;
    flex: 1;
    display: flex;
}

.vehiculo-detalles-texto-container{
    flex: 1;
}

.row {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    --bs-gutter-x: 0rem;
    margin-right: 50px;
    margin-left: 50px;
}

.row-detalle{
    display:flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.vehiculo-detalles-calendar-container{
    padding: 1em;
}
.vehiculo-detalles-table-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vehiculo-detalles-table-title{
    background-color: white;
    color: #3FAB6E;
    border: 2px solid #3FAB6E;
}

.title-container img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.title-container p {
    margin-left: 15px;
    color: #e7e7e7;
    text-transform: uppercase;
}

.texto-detalles{
    margin-left: 5px;
    color:#3FAB6E;
}

.texto-back{
    margin-left: 10px;
    color: #555555
}

.boton-edicion{
    color: #3FAB6E;
    font-size: 20px;
    padding: 5px 15px;
    margin-left: 10px;
}

.icono-agregar-modal{
    color: #3FAB6E;
    font-size: 2rem;
    margin-left: 17px;
}
.icono-updown-detalles{
    color: #3FAB6E;
    font-size: 1.5rem;
    margin-left: 5px;
}
.icono-editar-modal{
    color: #3FAB6E;
    font-size: 1.3rem;
    margin-left: 20px;
}

.tabla-tareos{
    border-radius: 10px;
    border: 2px solid #3FAB6E;
    width: 800px;
}

.form-datepicker{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    width: 264px;
    height: 30px;
    padding-left: 10px;
}

.form-datepicker .ant-input {
    border: 1px solid #cfcfcf;
}

.button-modal-container{
    display: flex;
    justify-content:end;
}
.button-modal-agregar{
    background-color: #3FAB6E;
    color: white;
}


.page-number {
    margin: 0 5px;
}

.pagination {
    color: black;
}

.page-number {
color: black;
}

.next {
    color: black;
    outline-color: black ;
}

.break-me {
    color: black;
}

.active {
    background-color: transparent;
}

.pagination .active a {
    border-radius: 50%;
    background-color: var(--VerdeIntermedio);
    color: #fff;
    padding: 10px 15px;
}

.pagination .arrow {
    color: #000000;
    font-size: 20px;
}