:root {
    --VerdePrimario: #009A43;
    --VerdeIntermedio:#3FAB6E;
    --VerdeClaro: #C8DED1;
    --Blanco: #FFFFFF;
    --GrisClaro: #EDEDED;
    --GrisIntermedio: #A2A2A2;
    --GrisOscuro: #555555;
    --Negro: #000000;
}

.create-valorizacion-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#form-buttons{
    grid-column: 1/3;
}

#form-filtrador{
    grid-column: 1/3;
}

#form-formal-table{
    grid-column: 1/3;
}