:root {
    --VerdePrimario: #009A43;
    --VerdeIntermedio:#3FAB6E;
    --VerdeClaro: #C8DED1;
    --Blanco: #FFFFFF;
    --GrisClaro: #EDEDED;
    --GrisIntermedio: #A2A2A2;
    --GrisOscuro: #555555;
    --Negro: #000000;
}

.form--create-vehiculo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.botons--accept{
    grid-column: 1/3;
}
